{% extends 'layouts/base.html' %}  
{% block content %}
{% include 'layouts/nav.html' %}
<main class=" py-5 px-1" id="main">
    <div class="py-5">
    <table class="table text-white table-seconary table-striped table-responsive">
        <thead>
        <tr>
            <th>Article</th>
            <th>Prix</th>
            <th>Qte</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in detail_order %}
            <tr>
                <td> <p class="text-white">{{ item.product.name }}</p></td>
                <td> <p  class="text-white">{{ item.price|floatformat:"g" }}</p></td>
                <td> <p  class="text-white">{{ item.quantity }}</p></td>
                <td> <p  class="text-white">{{ item.cost|floatformat:"g" }}</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
</div>
 </main>
{% endblock %}